body {
    background-color: hsl(229, 57%, 11%);
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 500px;
}

.grid-container > div {
    background: hsl(228, 56%, 26%);
    margin: 20px;
    padding: 2em;
}

.logo-container {
    border-radius: 10px 75px 10px 10px;
}

.storage-container {
    border-radius: 10px;
}

.icons {
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    width: 25px;
}

.gbleft {
    background-color: hsl(243, 100%, 93%);
    color: hsl(229, 57%, 11%);
    float: right;
    border-radius: 5px;
    padding: 5px 10px;
}

.gbleft-big {
    font-size: 3em;
    font-weight: 700;
}

.gbleft-small {
    font-size: 10px;
}

.gb0 {
    float: left;
}

.gb1 {
    float: right;
}

.status-bar-container {
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
}

.status-bar {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    width: 81.5%;   
}