body {
    background-attachment: fixed;
    background-color: hsl(229, 57%, 11%);
    background-image: url("../images/bg-desktop.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    color: hsl(243, 100%, 93%);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 500px;
    position: absolute;
    bottom: 50%;
    right: 20%;
    transform: translate(10%, 50%);
}

.logo-container {
    border-radius: 10px 75px 10px 10px;
    background: hsl(228, 56%, 26%);
    margin: 20px;
    padding: 2em;

    
}

.storage-container {
    background: hsl(228, 56%, 26%);
    border-radius: 10px;
    margin: 20px;
    padding: 2em;
    position: relative;
    height: 72px;
    top: 30px;
}

.icons {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    width: 25px;
}

.gbleft {
    background-color: #ffffff;
    border-radius: 5px;
    color: hsl(229, 57%, 11%);
    float: right;
    padding: 5px 25px;
    position: relative;
    right: 350x; 
    top: -70px;
}

.gbleft-big {
    font-size: 3em;
    font-weight: 700;
}

.gbleft-small {
    font-size: 10px;
}

.gb0 {
    float: left;
}

.gb1 {
    float: right;
}

.status-bar-container {
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
}

.status-bar {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    width: 81.5%;   
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}